<%- include('partials/header') -%>
<h1>Enter The Name Of Employee To Update Name:</h1>
<form action="/update" method="post">
    <label>EmpName:</label>
    <input type="text" name="empName" id="">
    <label>newName:</label>
    <input type="text" name="empName" id="">
    <br>
    <br>
    <input type="submit" name="" id="">
</form>
<%- include('partials/footer') -%>
